/*--- GENERAL ---  */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: grid;
    place-items: center;
    height: 100vh;
    color: #000;
}


/* --- BOTON --- */
.container {
    display: grid;
    grid-template-rows: auto auto; /* fila para el botón y fila para el formulario */
    gap: 20px;
    justify-items: center; /* centra horizontalmente cada fila */
    width: 350px;
    margin: 0 300px;
}

.btn-addProduct {
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 20px;
    margin-top: 30px;
}

.btn-addProduct:hover {
    background-color: #fff;
    color: #000;
}

/* --- FORM --- */
.form-addProduct {
    display: grid;
    gap: 15px;
    padding: 25px;
    border: 2px solid #000;
    border-radius: 10px;
    width: 50%;
    background-color: #fff;
    margin-bottom: 30px;

}

.form-addProduct.hidden {
    display: none;
}

.form-addProduct label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 14px;
}

.form-addProduct input[type="text"],
.form-addProduct input[type="file"] {
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}

.form-addProduct input[type="submit"] {
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.form-addProduct input[type="submit"]:hover {
    background-color: #fff;
    color: #000;
}

/* --- VISUALIZAR --- */
.catalogo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
}

.product-card {
    width: 100%;             
    max-width: 350px; 
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;/* ELIMINA línea blanca debajo */
}

.product-name-hover {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.6);
    color: #fff;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity .3s ease;
}

/* --- HOVERS CARD --- */
.product-card:hover .product-name-hover {
    opacity: 1;
}

.product-card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 20px rgba(0,0,0,0.3); 
}

/* --- INFO --- */
.product-info {
    background: #31313d;
    padding: 10px;
    font-size: 14px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

.product-info p {
    margin: 4px 0;
}

/* --- CONTADOR --- */
.p-contador{

    margin-top: 20px;
    padding-bottom: 20px;
}

/* --- MENÚ CONTEXTUAL DE BORRADO */
.context-menu {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    padding: 10px;
    z-index: 1000;
    border-radius: 8px;
    font-family: sans-serif;
}

.context-menu.hidden { 
    display: none; 
}

.context-menu-btns { 
    display: flex; 
    gap: 5px; 
    margin-top: 10px; 
}

.btn-confirm { 
    border: none; 
    padding: 5px; 
    cursor: pointer; 
    border-radius: 4px; 
}
.btn-cancel { 
    background: #eee;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
}